*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    font-size: 16px;
}

.link{
    display: flex;
    gap: 20px;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    position: relative;

}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

a:hover::after {
    width: 100%;
}

.join{
    width: 120px;
}

h1{
    font-size: 100px;
}

.parag{
    padding: 10px;
    font-size: 40px;
    margin-left: 250px;
}


.hero{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.big{
    width: 200px;
    padding: 10px;
    margin: auto;
}


.card{
     width: 500px;
     background-color: whitesmoke;
     align-items: center;
     padding: 30px;
     border-radius: 30px;
}

.best{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: gray;
    padding: 50px;
    margin: 100px;
    border-radius: 30px;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 4px;
}

p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 8px;
}

li{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 6px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
    border: none;
    border-radius: 10px;
}

.polo{
    padding: 10px;
    font-size: 50px;
    margin-left: 250px;
    text-align: left;
}

.footer{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}