body {
    background-color: rgb(57, 57, 57);
}

.cont {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.qat1 {
    width: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    height: 655px;
}

.qat2 {
    width: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    height: 655px;
}

.qat3 {
    width: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    height: 655px;
}


.learn {
    background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    border-radius: 10px;
    padding: 8px;
}

.but {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.button {
    background: linear-gradient(135deg, rgb(156, 156, 156) 0%, gold 100%);
    border: none;
    border-radius: 10px;
    padding: 8px;
}

.top-button{
    background: linear-gradient(135deg, rgb(156, 156, 156) 0%, gold 100%);
    border: none;
    border-radius: 10px;
    padding: 4px;
}

ul{
    text-align: start;
}